{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Забыли пароль?</title>
    <style>
        @font-face {
            font-family: 'PTSans';
            src: url("{% static 'fonts/PTSans-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Roboto';
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Monsterrat';
            src: url("{% static 'fonts/Montserrat-Regular.ttf' %}") format('truetype');
        }
    </style>
    <link rel="stylesheet" href="{% static 'care_app/authorisation/base.css' %}">
    <link rel="stylesheet" href="{% static 'care_app/header.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class='content'>
        <h1 class='content-name'>Забыли пароль?</h1>
        <form method='post' class='register-box' id='step1'>
            {% csrf_token %}
            <div class='input-line'>
                <label for='input-email'>
                    Адрес электронной почты
                    <input id='input-email' type='text' name='email'>
                </label>
            </div>
            {% if error %}
            <div class='error'>
                <p>{{ error }}</p>
            </div>
            {% endif %}
            <button type='submit'>Отправить код</button>
        </form>
    </div>
    
    <div style='margin-top:128px'></div>
    {% include 'footer.html' %}
</body>