{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Забыли пароль?</title>
    <style>
        @font-face {
            font-family: 'PTSans';
            src: url("{% static 'fonts/PTSans-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Roboto';
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Monsterrat';
            src: url("{% static 'fonts/Montserrat-Regular.ttf' %}") format('truetype');
        }
    </style>
    <link rel="stylesheet" href="{% static 'care_app/authorisation/base.css' %}">
    <link rel="stylesheet" href="{% static 'care_app/header.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class='content'>
        <h1 class='content-name'>Забыли пароль?</h1>
        <form method='post' class='register-box' id='step1'>
            {% csrf_token %}
            <div class='input-line' style='margin: 0 56px;'>
                <label style='margin-left: 0px;' style="width: 50%;">
                    Запрос на почту {{email}} успешно отправлен
                </label>
            </div>
        </form>
    </div>
    
    <div style='margin-top:128px'></div>
    {% include 'footer.html' %}
</body>