{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <style>
        @font-face {
            font-family: 'PTSans';
            src: url("{% static 'fonts/PTSans-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Roboto';
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Monsterrat';
            src: url("{% static 'fonts/Montserrat-Regular.ttf' %}") format('truetype');
        }
    </style>
    <link rel="stylesheet" href="{% static 'care_app/authorisation/base.css' %}">
    <link rel="stylesheet" href="{% static 'care_app/header.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <div class='content'>
        <h1 class='content-name'>Восстановление пароля</h1>
        <form method='post' class='register-box' id='step1'>
            {% csrf_token %}
            {% if recovery_error %}
                <div class='input-line' style='margin: 0 56px; width: 80%;'>
                    <label style='margin-left: 0px;' style="width: 50%;">
                        {{ recovery_error }}
                    </label>
                </div>
            {% else %}
                <label for='input-password'>
                    Пароль
                    <input id='input-password' type='password' name='password' style='margin-bottom: 10px;'>
                </label>
                <label for='input-password2'>
                    Подтверждение пароля
                    <input id='input-password2' type='password' name='password2'>
                </label>
                {% if error %}
                <div class='error'>
                    <p>{{ error }}</p>
                </div>
                {% endif %}
                <button type='submit'>Сменить пароль</button>
            {% endif %}
        </form>
    </div>
    
    <div style='margin-top:128px'></div>
    {% include 'footer.html' %}
</body>