{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все заказы</title>
    <link rel="stylesheet" href="{% static 'care_app/header.css' %}">
    <link rel="stylesheet" href="{% static 'care_app/all_orders.css' %}">
    <style>
        @font-face {
            font-family: 'PTSans';
            src: url("{% static 'fonts/PTSans-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Roboto';
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Monsterrat';
            src: url("{% static 'fonts/Montserrat-Regular.ttf' %}") format('truetype');
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class='content'><div class='block'>
        <div class='top'>
            {% if task_name %}
            <p>Заказы по - {{task_name}}</p>
            {% else %}
            <p>Все заказы</p>
            {% endif %}
        </div>
        {% for order in orders %}
        <a href='/order/{{order.id}}' style='text-decoration:none;color:inherit;'><div class='order'>
            <div class='texts'>
                <p class='not-top'>{{order.task_name}}</p>
                <div style='display:flex;'><img src="{% static 'images/mark.png'%}"><p class='not-bot'>{{order.address}}</p></div>
            </div>
            <div class='dates'>
                <p class='data'>Дата</p>
                <p>{{order.start_date}}</p>
            </div>
        </div>
        <div class='additional-info'>
            <div class='add-info'>
                <p class='add-info-p'>Как часто нужна помощь:  {{order.frequency}}</p>
                <p class='add-info-p'>Время работы:  {{order.working_hours}}</p>
                <p class='add-info-p'>Оплата:  {{order.payment_min}}</p>
                <p class='add-info-p'>Место ухода:  {{order.care_location}}</p>
            </div>
        </div>
    </a>
        <div class='horizontal'><div></div></div>
        {% endfor %}
        {% if not orders %}
        <p class='error'>На сайте нет доступных заказов</p>
        {% endif %}
    </div></div>

    <div style='margin:100px;'></div>
    {% include 'footer.html' %}
</body>