{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать заказ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'care_app/header.css' %}">
    <link rel="stylesheet" href="{% static 'care_app/create_order.css' %}">
    <style>
        @font-face {
            font-family: 'PTSans';
            src: url("{% static 'fonts/PTSans-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Roboto';
            src: url("{% static 'fonts/Roboto-Regular.ttf' %}") format('truetype');
        } @font-face {
            font-family: 'Monsterrat';
            src: url("{% static 'fonts/Montserrat-Regular.ttf' %}") format('truetype');
        }
    </style>
    <script>
        function toggleFields() {
            let frequency = document.getElementById("id_frequency");
            let workingHours = document.getElementById("id_working_hours");
            
            let daysField = document.getElementById("id_days_of_week");
            let hoursField = document.getElementById("id_hours_period");

            console.log(frequency.value, frequency.value === "Несколько раз в неделю");
            if (frequency.value === "Несколько раз в неделю") {
                daysField.style.display = "block";
            } else {
                daysField.style.display = "none";
            }
        
            console.log(workingHours.value, workingHours.value === "Несколько часов в день")
            if (workingHours.value === "Несколько часов в день") {
                hoursField.style.display = "block";
            } else {
                hoursField.style.display = "none";
            }
        }
        function showOtherInput(selectElement, inputId) {
            var otherInput = document.getElementById(inputId);
            if (selectElement.value === 'Другое') {
                otherInput.style.display = 'block';
            } else {
                otherInput.style.display = 'none';
            }
            toggleFields();
        }
        
        document.addEventListener("DOMContentLoaded", toggleFields);
        toggleFields();
    </script>
</head>
<body>
    {% include 'header.html' %}
    <div class="container mt-5">
        <h1>Создать заказ</h1>
        {% if form.errors %}
        <h4 style='color: red;' id='errorMessage'></h4>
        <script>
            let errorMessage = "";
            {% for field, errors in form.errors.items %}
                errorMessage += "{{ field|escapejs }}: {{ errors.as_text|escapejs }}\n";
            {% endfor %}
            document.getElementById('errorMessage').innerText = errorMessage;
        </script>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btnn">Опубликовать заказ</button>
        </form>
    </div>
    <div style='margin:100px;'></div>
    {% include 'footer.html' %}
    {% if task_name %}
    <script>
        const task_name = '{{task_name}}';
        const option = document.querySelector('option[value="Другое"]');
        const other = document.getElementById("other_task_name_input");
        other.value = task_name;
        option.selected = true;
        const select = option.parentElement;
        if (select) {
            select.dispatchEvent(new Event('change'));
        }
    </script>
    {% endif %}
</body> 
</html>
