{% load static %}
<div class='footer'>
    <div class='footer-left'>
        <h1>CARE+</h1>
        <p>Мы обеспечиваем качественный уход, позволяя вашим родным жить в комфортных условиях, не чувствуя себя забытыми.</p>
    </div>
    <div class='footer-middle'>
        <h1>Свяжитесь с нами</h1>
        <div class='middle-line'>
            <img src="{% static 'images/email.png' %}">
            <p>care.plus@website.com</p>
        </div>
        <div class='middle-line'>
            <img src="{% static 'images/location.png' %}">
            <p>Розыбакиева 221а, Алматы, Казахстан</p>
        </div>
        <div class='middle-line'>
            <img src="{% static 'images/phone.png' %}">
            <p>+7 777 777 77 77</p>
        </div>
    </div>
    <div class='footer-right'>
        <h1>Подписывайтесь!</h1>
        <div class='right-line'>
            <img src="{% static 'images/twitter.png' %}">
            <img src="{% static 'images/instagram.png' %}">
            <img src="{% static 'images/facebook.png' %}">
            <img src="{% static 'images/youtube.png' %}">
        </div>
    </div>
</div>