{% load static %}
<header class='header'>
    <div class='header-content'>
        <a href='/' style='text-decoration:none;color:inherit;'>
            <div class='header-logo'>CARE+</div><a>

        <a href='/' style='text-decoration:none;color:black;'>
            <p class='header-text'>Главная</p></a>
        <p class='header-text'>Алматы</p>

        {% if user.is_authenticated %}
            {% if request.user.user_type == 'Client' %}
                <a href='/create_order' style='text-decoration:none;color:black;'>
                    <div class='header-client'>Создать заказ</div></a>
                <a href="/my_orders" style='text-decoration:none;color:black;'>
                    <div class='header-spec'>Мои заказы</div></a>

            {% else %}
                <a href='/' style='text-decoration:none;color:black;'>
                    <div class='header-client'>Специалист</div></a>
                <a href="/all_orders" style='text-decoration:none;color:black;'>
                    <div class='header-spec'>Заказы</div></a>

            {% endif %}
            <a id='dropdown-trigger' href='/profile' style='text-decoration:none; color: inherit;'>
                <div class='header-guest'>
                    <img id='user-circle' src="{% static 'images/user-header.png' %}">
                    <span id='header-user-name'>{{user.name}}</span>
                    <img id='dropdown' src="{% static 'images/header-dropdown.png' %}"></div></a>


        {% else %}
        <a href='/login' style='text-decoration:none;color:black;'>
            <div class='header-client'>Вход</div></a>

        <a href='/all_orders' style='text-decoration:none;color:black;'>
            <div class='header-spec'>Заказы</div></a>

        <div class='header-guest'>
            <img id='user-circle' src="{% static 'images/guest-header.png' %}"><span id='header-user-name'>Гость</span>
            </div>
        {% endif %}
    </div>
</header>
<div class='dropdown-menu'>
    <div class='dropdown-content'>
        <div class='dropdown-text'>
            <a href='/profile'>
            Профиль
            </a>
        </div>
        <div class='dropdown-text'>
            <a href='/my_orders'>
            Мои заказы
            </a>
        </div>
        <div class='dropdown-text'>
            Алматы
        </div>
        <div class='dropdown-text' style='border-bottom: none;'>
            <a href='/logout'>
            Выйти
            </a>
        </div>
    </div>
</div>

<script>
    document.getElementById('dropdown-trigger').addEventListener('click', function (event) {
        if (window.innerWidth <= 480) {
            event.preventDefault();
            const dropdown = document.querySelector('.dropdown-menu');
            const rect = this.getBoundingClientRect();
            
            dropdown.classList.toggle('show');
        
            event.stopPropagation();
        }
    });
      
    document.addEventListener('click', function () {
        document.querySelector('.dropdown-menu').classList.remove('show');
    });
</script>